@model List<Information_System.Models.DashboardModel>
@{
    ViewBag.Title = "Home Page";
    var db = ViewData["DB"] as Information_System.Models.DashboardModel;
    Information_System.Models.AccessRightModel p = null;
    p = Session["permission"] as Information_System.Models.AccessRightModel;
    //string month = DateTime.Now.Month.ToString();
    string year = DateTime.Now.Year.ToString();
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("en-US");
    string month = DateTime.Now.ToString("MMM yyyy", culture);
    //string[] months;

}

<style>
    .btn-very-big {
        color: white;
        border-color: white;
        padding: 20px 20px;
        font-size: 24px;
        position: absolute;
        top: 50%;
        transform: translate(50%,-50%);
    }

    .create {
        background-color: #2471A3;
        right: 50%;
    }

    .requirement {
        background-color: #E67E22;
        right: 50%;
    }

    .download {
        background-color: #10a31c;
        right: 50%;
    }

    .box-1 {
        width: 100%;
        /*height: 83%;*/
        background-color: white;
    }

    .center-middle {
        top: 50%;
        right: 50%;
        transform: translate(50%,-50%);
    }

    .box-2 {
        width: 70%;
        height: 200px;
        border-style: solid;
        display: block;
        /*border-radius: 8px;*/
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .font42 {
        font-size: 42px;
    }
    .font24 {
        font-size: 24px;
    }

    img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .dot {
        height: 150px;
        width: 150px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }

    .canvasjs-chart-credit{
        display: none;
    }

    
</style>


<div style="background-color: #AED6F1; padding: 50px, 50px, 50px, 50px;">
    <div class="row" style="height:150px;">
        @*@if (p.IS_ADMIN)
        {*@
            <div class="col-sm-3">
                <button class="btn-lg createbtn btn-very-big create" style="width: 350px" onclick="hrefCreateInfoDoc();">CREATE INFORMATION</button>
            </div>
        @*}*@

        <div class="col-sm-3">
            <button class="btn-lg requirementebtn btn-very-big requirement" style="width: 350px" onclick="hrefRequirementDoc()">REQUIREMENT DOCUMENT</button>
        </div>

        <div class="col-sm-3">
            <button class="btn-lg requirementebtn btn-very-big download" style="width: 350px" onclick="hrefRequirementDoc2()">Important notice download</button>
        </div>
    </div>
</div>
<div style="background-color: #1F618D;">
    <div class="row">
        <div class="box-1 pb-4" style="margin: 30px;">
            @*<div style="text-align:center;">
                <p style="font-size: 24px;"><b>INFORMATION DETAIL</b></p>
            </div>*@
            @*<div style="text-align: left;" class="ml-5">
                <p style="font-size: 20px;"><b>TOTAL INFORMATION</b></p>
            </div>*@

            <div class="row mt-5">
                <div class="col-lg-7 pl-5 pr-5">
                    <p style="text-align:center; font-weight: 800; font-family: Tahoma; font-size:26px;">TOTAL INFORMATION</p>
                    <div class="row">
                        <div class="col-lg-3" style="height: 370px; width: 100%; padding-top:12%; text-align:center;">
                            <div class="dot" style="cursor:pointer;" onclick="linkTotol();"><h6 style="margin-top: 16px;">TOTAL</h6><h1 class="mt-3" id="txttotalnfo"></h1></div>
                        </div>
                        <div id="chartContainer" class="col-lg-9" style="height: 370px; width: 100%;"></div>
                    </div>
                </div>


                <div class="col-lg-4">
                    <div id="inforPerYear" style="height: 420px; width: 100%;"></div>
                    <div class="row justify-content-end">
                        <select class="form-control col-lg-3" id="optMonth" name="optMonth">
                            <option value="">All</option>
                        </select>
                        <select class="form-control col-lg-3 ml-2" id="optYear" name="optYear">
                        </select>
                        <button class="btn btn-primary ml-2" onclick="getInfoYear();"><img src="~/Image/search.svg" style="margin-top: -5px;" /></button>
                    </div>
                </div>


            </div>

            <div class="row mt-5">
                <div class="col-lg-6 mt-2 pl-5">
                    <div id="inforPop" style="height: 430px; width: 100%;"></div>
                </div>
                <div class="col-lg-6 pl-5 pr-5" style="height: 450px;">
                    <p style="text-align:center; font-weight: 800; font-family: Tahoma; font-size:26px;">MY REQUIREMENT</p>
                    <div style="height: 400px; overflow: scroll;">
                        <table id="tbList" class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Requirement No.</th>
                                    <th scope="col">Issue Date</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Wait Approve</th>
                                </tr>
                            </thead>
                            <tbody id="tbody"></tbody>
                        </table>
                    </div>

                </div>
                
            </div>
            
            <div class="row mt-5 justify-content-lg-end ml-5">
                @*@using (Html.BeginForm("exportExcel", "Home", FormMethod.Post))
                {*@
                    <button class="mr-4" style="background-color: transparent; border: none; display:flex;" id="exportExcel" data-toggle="modal" data-target="#exportModel">
                        <img src="~/Image/excel.svg" width="34" class="mt-1" />
                        @*<p class="mt-2" style="font-weight: 400; color: #0E6655; margin-left:6px;">Export Data</p>*@
                    </button>
                @*}*@
            </div>


            @*<div class="row">
                <div class="col col-sm-12 col-lg-3">
                    <div class="box-2" style="margin: 0 auto; border-color: rgb(32,56,100);  color: rgb(32,56,100);">
                        <div class="row" style="height: 82%;">
                            <div class="col" style="width: 60%;">
                                <img width="140" src="~/Image/total-info.png" style="display: block; margin: 14px 0px 14px 32px;"/>
                            </div>
                            <div class="col font42" style="display: block; top: 30%; vertical-align:middle;">
                                <p><b>@db.total</b></p>
                            </div>
                        </div>
                        <p style="background-color: #EAF2F8;text-align:center;" class="font24">TOTAL</p>
                    </div>
                    
                </div>
                <div class="col col-sm-12 col-lg-3">
                    <div class="box-2" style="margin: 0 auto; border-color: rgb(211, 84, 0);  color: rgb(211, 84, 0);">
                        <div class="row" style="height: 82%;">
                            <div class="col" style="width: 60%;">
                                <img width="130" src="~/Image/clock.png" style="display: block; margin: 6px 0px 14px 32px;" />
                            </div>
                            <div class="col font42" style="display: block; top: 30%; vertical-align:middle;">
                                <p><b>@db.waiting</b></p>
                            </div>
                        </div>
                        <p style="background-color: #F9EBEA;text-align:center;" class="font24">IN-PROGRESS</p>
                    </div>
                </div>
                <div class="col col-sm-12 col-lg-3">
                    <div class="box-2" style="margin: 0 auto; border-color: rgb(56,87,35); color: rgb(56,87,35);">
                        <div class="row" style="height: 82%;">
                            <div class="col" style="width: 60%;">
                                <img width="140" src="~/Image/complete.png" style="display: block; margin: 14px 0px 14px 32px;" />
                            </div>
                            <div class="col font42" style="display: block; top: 30%; vertical-align:middle;">
                                <p><b>@db.finished</b></p>
                            </div>
                        </div>
                        <p style="background-color: #E9F7EF;text-align:center; " class="font24">FINISHED</p>
                    </div>
                </div>
                <div class="col col-sm-12 col-lg-3">
                    <div class="box-2" style="margin: 0 auto; border-color: rgb(109,0,0);  color: rgb(109,0,0);">
                        <div class="row" style="height: 82%;">
                            <div class="col" style="width: 60%;">
                                <img width="150" src="~/Image/reject.png" style="display: block; margin: 6px 0px 14px 16px;" />
                            </div>
                            <div class="col font42" style="display: block; top: 30%; vertical-align:middle;">
                                <p><b>@db.waiting</b></p>
                            </div>
                        </div>
                        <p style="background-color: #F9EBEA;text-align:center;" class="font24">REJECT</p>
                    </div>
                </div>
            </div>
            <div class="row mt-5 justify-content-lg-end ml-5">
                @using (Html.BeginForm("exportExcel", "Home", FormMethod.Post))
                {
                    <button class="mr-4" style="background-color: transparent; border: none; display:flex;" id="exportExcel">
                        <img src='~/Image/excel.png' width="48" title='View Details' /><p style="font-weight: 500; color: #0E6655; margin-top: 12px;">Export data all</p>
                    </button>
                }
            </div>*@

        </div>
    </div>
</div>

<div class="modal fade" id="exportModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Export data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("exportExcel", "Home", new { type = "total" } , FormMethod.Post))
                {
                    <button class="mr-4" style="background-color: transparent; border: none; display:flex;" id="exportExcel" data-toggle="modal" data-target="#exportModel">
                        <img src="~/Image/excel.svg" width="34" />
                        <p style="font-weight: 700; color: #0E6655; margin-top: 4px; margin-left:6px;">Export all data</p>
                    </button>
                }

                @using (Html.BeginForm("exportExcel", "Home", new { type = "yearly" }, FormMethod.Post))
                {
                    <button class="mr-4" style="background-color: transparent; border: none; display:flex;" id="exportExcel" data-toggle="modal" data-target="#exportModel">
                        <img src="~/Image/excel.svg" width="34" />
                        <p style="font-weight: 700; color: #0E6655; margin-top: 4px; margin-left:6px;">Export data with yearly</p>
                    </button>
                }

                @using (Html.BeginForm("exportExcel", "Home", new { type = "monthly" }, FormMethod.Post))
                {
                    <button class="mr-4" style="background-color: transparent; border: none; display:flex;" id="exportExcel" data-toggle="modal" data-target="#exportModel">
                        <img src="~/Image/excel.svg" width="34" />
                        <p style="font-weight: 700; color: #0E6655; margin-top: 4px; margin-left:6px;">Export data with monthly</p>
                    </button>
                }               
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script>
    function hrefRequirementDoc() {
        window.location = '@Url.Action("CreateRequirementDoc", "Create")';
    }

    function hrefRequirementDoc2() {
        //window.open("I:\4-A0XMN-01.csv");
        window.location.assign("http://10.145.163.10/Cloud/ELECTRONICS-DOC/1400/0009/1400/FR-TE-00-041-Rev.00%20Important%20notice%20(4M%20change%20or%20Claim%20measures).xlsx");
    }

    function hrefCreateInfoDoc() {
        window.location = '@Url.Action("RequirementInfoList", "Create")';
    }

    function linkTotol() {
        window.location = '@Url.Action("ReportList", "Report")';
    }
</script>
<script src="~/Content/canvasjs.min.js"></script>

@*Total*@
<script>
    window.onload = function () {

        var d = new Date();
        var n = d.getFullYear();
        var m = d.getMonth();
        var years = [];
        var startYear = 2021;
        while (startYear <= n) {
            years.push(startYear++);
        }

        var optYear = document.getElementById("optYear");
        for (var i = 0; i < years.length; i++) {
            var option = document.createElement("option");
            option.text = years[i];
            option.value = years[i];
            if (years[i] === n) {
                option.selected = "selected";
            }
            optYear.add(option);
        }

        var month = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
        var optMonth = document.getElementById("optMonth");
        for (var i = 0; i < month.length; i++) {
            var option = document.createElement("option");
            option.text = month[i];
            option.value = i + 1;
            if (m === i) {
                option.selected = "selected";
            }
            optMonth.add(option);
        }

        getInfoList();
        getInfoYear();
        getInfoPop();
        getInfoTotal();

    }

    function getInfoList() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                const data = JSON.parse(xhr.responseText);
                if (data != null && data != "") {
                    $('#tbody').empty();
                    for (var i = 0; i < data.length; i++) {
                        var dar_no_link;
                        if (data[i].IS_NO == "" || data[i].IS_NO == null) {
                            //dar_no_link = "-";
                            dar_no_link = "<a href='@Url.Action("CreateRequirementDoc", "Create")/" + data[i].IS_ID + "' target='_Blank'>-</a>";
                        }
                        else {
                            if (data[i].APPROVE_STATUS == "TE-REJECT" || data[i].APPROVE_STATUS == "CREATE") {
                                dar_no_link = "<a href='@Url.Action("CreateRequirementDoc", "Create")/" + data[i].IS_ID + "' target='_Blank'>" + data[i].IS_NO + "</a>";
                            }
                            else {
                                dar_no_link = "<a href='@Url.Action("ReceivedRequirment", "Create")/" + data[i].IS_ID + "' target='_Blank'>" + data[i].IS_NO + "</a>";
                            }
                        }
                        var date = formatDate(new Date(Math.floor(subDateStr(data[i].ISSUE_DATE))))
                        var index = i + 1;
                        var html = "";
                        html += "<tr><th scope='row'>" + index + "</th><td> " + dar_no_link + " </td><td>" + date + "</td><td>" + data[i].SUBJECT + "</td><td>" + data[i].APPROVE_STATUS + "</td> <td>" + data[i].APPROVE_ID + "</td> </tr>";
                        $('#tbody').append(html);
                    }
                }
            }
        };
        xhr.open("GET", "@Url.Action("MyRequirementList", "Home")");
        xhr.send();
    }

    function getInfoYear() {

        var m = document.getElementById("optMonth").value;
        var y = document.getElementById("optYear").value;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                const data = JSON.parse(xhr.responseText);
                if (data != null && data != "") {
                    CanvasJS.addColorSet("greenShades",
                        [
                            "#1F618D",
                            "#f2ae72",
                            "#588c7e",
                            "#d96459"
                        ]);
                    var inforPerYear = new CanvasJS.Chart("inforPerYear", {
                    animationEnabled: true,
                    colorSet: "greenShades",
                    title: {
                         text: "INFORMATION IN " + m +", "+ y,
                        fontFamily: "tahoma",
                        fontWeight: "800",
                        fontSize: 26,
                    },
                    axisY: {
                        includeZero: true
                    },
                    data: [{
                        type: "column",
                        indexLabelFontColor: "#5A5757",
                        indexLabelFontSize: 16,
                        indexLabelPlacement: "outside",
                        percentFormatString: "#0.##",
                        toolTipContent: "{label}:{y} ({percent}%)",
                        dataPoints: [
                            { y: data.total, label: "Total", percent: 100 },
                            { y: data.waiting, label: "In-Progress", percent: data.p_waiting },
                            { y: data.finished, label: "Finish", percent: data.p_finished },
                            { y: data.reject, label: "Reject", percent: data.p_reject }
                        ]
                    }]
                });
                inforPerYear.render();

              }
            }
        };
        xhr.open("GET", "@Url.Action("getInforYear", "Home")?year=" + y +"&month=" + m, true);
        xhr.send();

    }

    function getInfoPop() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                const data = JSON.parse(xhr.responseText);
                if (data != null && data != "") {
                    var dataPoint = [];
                    var temp;
                    for (var i = 0; i < data.length; i++) {
                        dataPoint.push({ y: data[i].COUNT, label: data[i].NAME, percent: data[i].PERCENTAGE });
                    }

                    CanvasJS.addColorSet("greenShades",
                        [
                            "#1F618D",
                            "#f2ae72",
                            "#588c7e",
                            "#d96459"
                        ]);
                    var inforPop = new CanvasJS.Chart("inforPop", {
                    animationEnabled: true,
                    theme: "light1",
                    title: {
                        text: "DOCUMENT FLOW POPULAR",
                        fontFamily: "tahoma",
                        fontWeight: "800",
                        fontSize: 26,
                    },
                    axisX: { interval: 1 },
                    axisY: {
                        includeZero: true,
                    },
                    data: [{
                        type: "column",
                        indexLabelFontColor: "#5A5757",
                        indexLabelFontSize: 16,
                        indexLabelPlacement: "outside",
                        percentFormatString: "#0.##",
                        toolTipContent: "{label}:{y} ({percent}%)",
                        dataPoints: dataPoint
                    }]
                });
                inforPop.render();
              }
            }
        };
        xhr.open("GET", "@Url.Action("getDocFlow", "Home")");
        xhr.send();

    }

    function getInfoTotal() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                const data = JSON.parse(xhr.responseText);
                if (data != null && data != "") {
                    document.getElementById("txttotalnfo").innerHTML = data.total;
                    CanvasJS.addColorSet("greenShades",
                        [
                            "#f2ae72",
                            "#588c7e",
                            "#d96459"
                        ]);
                    var chartContainer = new CanvasJS.Chart("chartContainer", {
                        colorSet: "greenShades",
                        animationEnabled: true,
                        data: [{
                            type: "pie",
                            startAngle: 25,
                            toolTipContent: "<b>{label}</b>: {y} ",
                            showInLegend: "true",
                            legendText: "{label}",
                            indexLabelFontSize: 16,
                            indexLabel: "{label} - {y} ",
                            percentFormatString: "#0.##",
                            toolTipContent: "{y} (#percent%)",
                            dataPoints: [
                                {
                                    y: data.waiting, label: "In-Progress", click: function (e) {
                                        sessionStorage.setItem("indexStatus", "WATTING");
                                        location.href = "@Url.Action("ReportList", "Report")";
                                    }},
                                {
                                    y: data.finished, label: "Finish", click: function (e) {
                                        sessionStorage.setItem("indexStatus", "APPROVED");
                                        location.href = "@Url.Action("ReportList", "Report")";
                                    }},
                                {
                                    y: data.reject, label: "Reject", click: function (e) {
                                        sessionStorage.setItem("indexStatus", "REJECT");
                                        location.href = "@Url.Action("ReportList", "Report")";
                                    }}
                            ]
                        }],
                    });
                    chartContainer.render();
                }
            }
        };
        xhr.open("GET", "@Url.Action("getInforTotal", "Home")");
        xhr.send();
    }

    function onClick(e) {
        window.open(e.dataPoint.url);
    }

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [day, month, year].join('-');
    }

    function subDateStr(Str) {
        var dateStr = Str.substring(
            Str.lastIndexOf("(") + 1,
            Str.lastIndexOf(")")
        );
        return dateStr;
    }



</script>

